debhelper-build-stamp
eduvpn-client.substvars
eduvpn-client/
files
python-eduvpn-client-doc.substvars
python-eduvpn-client-doc/
python-eduvpn-client.postinst.debhelper
python-eduvpn-client.prerm.debhelper
python-eduvpn-client.substvars
python-eduvpn-client/

