#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=eduvpn-client

override_dh_clean:
	dh_clean
	rm -rf .pybuild/

override_dh_auto_clean:
	dh_auto_clean
	rm -rf doc/_build .pybuild/ .eggs/ .cache 

override_dh_auto_test:
	# TODO: enable test suite
	# https://github.com/eduvpn/python-eduvpn-client/issues/61
	true

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild


override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bhtml doc/ build/html # HTML generator
	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bman doc/ build/man # Manpage generator

